.page {
  padding: 10px 10%;
  height: 100vh;
  width: calc(100vw - 22%);
}

.page2 {
  display: flex;
  gap: 5rem;
}

.rodape{
  display: flex; 
  align-items: flex-end; 
  justify-content: flex-end; 
  flex-direction: column;
  padding-bottom: 10px;
  background: #353535;
  width: calc(100vw - 2%);
}

@media screen and (max-width: 768px) {
  .page{
    width: calc(100vw - 20%);
    height: auto;
  }
  .page2 {
    flex-direction: column;
    gap: 2rem;
  }

  .rodape{
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
  }
}