.page {
  width: 100vw;
  height: 100vh;
  background: #353535;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page2 {
  display: flex;
  gap: 5rem;
}

.rodape{
  display: flex; 
  align-items: flex-end; 
  justify-content: flex-end; 
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .page{
    height: auto;
  }
  .page2 {
    flex-direction: column;
    gap: 2rem;
  }

  .rodape{
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    margin-top: 2rem;
  }
}